:root {
  --main: #232b38;
  --secondary: #f075a0;
  --thirdirary: #222;
}

body::-webkit-scrollbar {display: none}
html {scroll-behavior: smooth}
/* :target {scroll-margin-top: 20vh} */
::selection {background: rgba(29, 231, 164, 0.25)}
a {text-decoration: none}
* {margin: 0;}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-x: hidden;
  background-color: var(--main);
  top: 0 !important;
  padding-left: 18vw;
  padding-right: 18vw;
}

section, .seperator {
  position: relative;
  display: flex;
}

header {
  position: relative;
  display: flex;
  padding: 200px 50px;
  padding-bottom: 0;
  background: var(--thirdirary);
  box-shadow: 50vw 0 var(--thirdirary), -50vw 0 var(--thirdirary);

  > img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: grayscale(.8);
    opacity: .2;
  }

  > img:last-child {
    filter: drop-shadow(0 0 60px black) grayscale(.0);
    width: 400px;
  }

  .desc {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .some {
      display: flex;
      gap: 5%;

      a {
        width: 25px;
      }
    }

    > h1 {
      font-size: 45px;
      font-weight: 600;
    }
    > h1::before {
      content: "I am ";
    }

    .board {
      margin-bottom: -20px;
      margin-left: 75px;
      width: 50%;
      padding: 25px 10px 25px 25px;
      border: solid var(--secondary) 5px;
      background: rgba(255, 255, 255, 0.1);
      position: relative;
      border-radius: 0 10px 10px 0;
      transition: 800ms;

      .arrow {
        position: absolute;
        width: 50px;
        height: 5px;
        background: var(--secondary);
        left: -70px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0 0 0 9px;

        &::after {
          content: " ";
          width: 15px;
          aspect-ratio: 1;
          border-right: solid 5px var(--secondary);
          border-bottom: solid 5px var(--secondary);
          rotate: -45deg;
          position: absolute;
          right: 0;
          top: -150%;
        }
        &::before {
          content: " ";
          width: 5px;
          height: 30px;
          background: var(--secondary);
          position: absolute;
          left: 0;
          top: -600%;
          border-radius: 9px 9px 0 0;
        }
      }

      > span {
        position: absolute;
        left: 15px;
        opacity: 0;
        top: 0;
        font-size: 25px;
      }
      .appear { animation: appear 4s }
    }
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    top: 0;
  }
  25% {
    opacity: 1;
    top: 5px
  }
  75% {
    opacity: 1;
    top: 5px
  }
  100% {
    opacity: 0;
    top: 10px;
  }
}

#employment {
  position: relative;
  margin-left: -18vw;
  height: 65px;
  width: 100vw;
  background: var(--secondary);
  z-index: 102;

  p {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bolder;
    white-space: nowrap;
    opacity: .8;

    /* animation: employment-txt 25s linear infinite; */
  }
}
@keyframes employment-txt {
  from {
    left: var(--employment-txt-left);
  }
  to {
    left: 0;
  }
}

nav {
  position: sticky;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  width: 100vw;
  margin-left: -18vw;
  margin-top: -65px;
  height: 60px;
  top: 0;
  z-index: 101;
  font-weight: bolder;
  
  > a {
    color: white;
    background: var(--secondary);
    position: absolute;
    padding: 15px 10px;
    left: 18vw;
    bottom: -30%;
  }
  > div {
    justify-content: right;
    display: flex;
    gap: 25px;
    margin-right: 18vw;

    a { 
      color: var(--thirdirary); 
      opacity: .8; 
      transition: 400ms;
      padding: 20px 0;
      box-shadow: inset 0 10px transparent;
    }
    a:hover { opacity: 1; }
  }
}

:has(#experience:hover) nav > div :nth-child(1) { box-shadow: inset 0 10px var(--secondary); }
:has(#about:hover) nav > div :nth-child(3){ box-shadow: inset 0 10px var(--secondary); }
:has(#portfolio:hover) nav > div :nth-child(2){ box-shadow: inset 0 10px var(--secondary); }
:has(#reviews:hover) nav > div :nth-child(4){ box-shadow: inset 0 10px var(--secondary); }
:has(#education:hover) nav > div :nth-child(5){ box-shadow: inset 0 10px var(--secondary); }
:has(#contact:hover) nav > div :nth-child(6){ box-shadow: inset 0 10px var(--secondary); }

#experience {
  padding-bottom: 50px;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;

  > h1 {
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin: 50px 0;
  }

  article {
    width: 350px;
    font-size: 35px;
    margin-bottom: 50px;
    overflow: hidden;

    > h1 i {
      color: var(--secondary);
      margin-right: 5px;
    }

    > h1, > p, > .skillbar { transition: 400ms; }
    > p { transition-delay: 150ms; }
    > h1 { transition-delay: 300ms; }

    > p {
      margin-top: 12px;
      font-size: 16px;
      opacity: .6;
    }

    > .skillbar {
      margin-top: 15px;
      display: flex;

      > h2 {
        font-size: 25px;
      }

      > div {
        width: 75%;
        height: 10px;
        background: var(--thirdirary);
        border: solid 6px var(--thirdirary);
        border-radius: 9em;
        margin: 6px 8px;

        > span {
          height: 100%;
          background: green;
          display: block;
          border-radius: inherit;
        }
      }
    }

    &:hover {
      > h1, > p, > .skillbar {
        transform: translateY(-5px);
      }
    }
  }
}

#portfolio {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  > h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
  }

  a {
    cursor: pointer;
    width: 350px;
    aspect-ratio: 2 / 1.2;
    overflow: hidden;
    position: relative;
    border-radius: 15px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    div {
      width: 100%;
      height: 100%;
      backdrop-filter: blur(12px);
      background: rgba(0, 0, 0, 0.6);
    }

    h1 {
      color: white;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 40px;
    }
  }
  a:not(.more):nth-child(n+6) {
    display: none;
  }

  .more { border: solid 5px var(--thirdirary); }
}

.seperator {
  margin-top: 100px;
  height: 15vw;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

  > img {
    position: absolute;
    opacity: .2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  > h1 {
    font-size: 2.2vw;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  > a {
    font-size: 1.2vw;
    font-weight: 600;
    background: var(--secondary);
    color: white;
    height: fit-content;
    padding: 10px 15px 20px 15px;
    position: absolute;
    left: 50%; 
    bottom: -10px;
    transition: 400ms;
    transform: translateX(-50%);
    border-radius: 20px 20px 0 0;
  }
  > a:hover {
    bottom: 0;
  }
}

#about {
  padding-top: 100px;
  > :nth-child(n) {
    width: 100%;
  }
  > :first-child {
    position: relative;
    img {
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
    div {
      width: 100%;
      height: 80px;
      position: absolute;
      bottom: 20px;
      background: linear-gradient(to top, var(--main), transparent);
    }
  }
  > :last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > h1 {
      font-size: 40px;
      i {color: var(--secondary);}
    }
    > p {
      font-size: 17px;
      opacity: .8;
    }
    .attr {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      > :last-child {width: 100%; margin-top: 10px;}

      > div {
        width: 50%;
        min-width: fit-content;
        
        h4 {font-size: 18px; color: var(--secondary);}
        h3 {font-size: 25px;}
      }
    }
    .divider {
      width: 90%;
      height: 5px;
      border-radius: 9em;
      background: var(--secondary);
    }
    .contact {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      gap: 20px;

      a:first-child, a:last-child {
        padding: 15px 10px;
        color: white;
        transition: 400ms ease-out;
        font-weight: bold;
        font-size: 17px;
      }
      a:first-child {
        box-shadow: inset 0 0 #c56084;
        background: var(--secondary);
        outline: solid 2px var(--thirdirary);
      }
      a:first-child:hover {
        box-shadow: inset 0 60px #c56084;
      }
      a:last-child {
        margin-right: 20px;
        box-shadow: inset 0 0 white;
        background: transparent;
        outline: solid 2px var(--thirdirary);
      }
      a:last-child:hover {
        box-shadow: inset 0 60px white;
        color: var(--thirdirary);
      }
    }
  }
}

#education {
  margin-top: 100px;
  flex-direction: column;

  .schools1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 75px;

    .school {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 300px;

      h1 {
        font-size: 30px;
        color: white;
        text-align: left;
        margin: 0;
        width: calc(100% - 20px);
        position: absolute;
        padding: 0 10px;

        &:first-child{
          position: absolute;
          top: -0px;
          transition: 400ms;
          

          &::after {
            content: " ➜ ";
          }
        }
        &:last-child {
          bottom: 10px;
          transition: 400ms;
        }
      }
      div {
        width: 100%;
        aspect-ratio: 1.5 / 1;
        border-radius: 15px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        transition: 400ms;
      }
      img {
        width: 100%;
        aspect-ratio: 1.5 / 1;
        border-radius: 15px;
        box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
      }

      &:hover {
        h1 {
          &:first-child{
            top: -35px;
          }
          &:last-child {
            bottom: -70px;
          }
        }
        div {
          opacity: 0;
          transition: 800ms;
        }
      }
    }
  }
  .schools2 {
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;

    .school {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 300px;
      margin-bottom: 50px;

      h1 {
        font-size: 30px;
        color: white;
        text-align: left;
        margin: 0;
        width: calc(100% - 20px);
        position: absolute;
        padding: 0 10px;

        &:first-child{
          position: absolute;
          top: -40px;
          
          &::after { content: " ➜ "; }
        }
        &:last-child {
          bottom: -80px;
        }
      }
      div {
        width: 100%;
        aspect-ratio: 1.5 / 1;
        border-radius: 15px;
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        opacity: 0;
        transition: 400ms;
      }
      img {
        width: 100%;
        aspect-ratio: 1.5 / 1;
        border-radius: 15px;
        box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
      }
    }
    >:last-child {
      z-index: +1;
      font-size: 18px;
      width: 600px;
      transition: 400ms;
    }
  }

  &:has(.schools1:hover) .schools2 h1,
  &:has(.schools1:hover) .schools2 p,
  &:has(.schools1:hover) .schools2 div { opacity: .4; }
}

#contact {
  padding: 120px 0;

  form {
    position: relative;
    label {
      font-size: 1.6vw;

      p {
        display: inline-block;
      }

      > input, > textarea {
        height: 60%;
        transform: translateY(-2.5px);
        background: rgba(124, 218, 255, .4);
        border: none;
        border-radius: 5px;
        font-size: 1vw;
        height: fit-content;
        padding: 5px 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;

        &:focus-visible {
          outline: none;
          border: none;
          box-shadow: 0 0 0 2px var(--secondary);
        }
      }
      > textarea {
        margin-top: 20px;
        width: 100%;
      }
    }
    > button {
      position: absolute;
      height: 100%;
      top: 0;
      right: -80px;
      background: rgba(124, 218, 255, .4);
      border: none;
      border-radius: 5px;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (width < 1500px) {
  #about > :first-child { display: none !important; }
}

@media (width < 1200px) {
  header {
    padding-top: 50px;
    flex-direction: column;
    align-items: center;

    > :first-child { bottom: 0; top: initial !important; }

    .desc {
      text-align: center;
      .some { justify-content: center; }
      .board { display: none; }
      > h1::before { content: " "; }
    }
  }
  nav {
    > a {
      bottom: initial;
      height: 30px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
    }
    > div {
      display: none;
    }
  }
}

@media (width < 1152px) {
  #portfolio a:not(.more):nth-child(n+4) { display: none; }
}